defaults.yml
vendor
/.idea
/dotfiles/ssh/id_rsa
/dotfiles/ssh/id_rsa.pub
/dotfiles/config/gcloud
/dotfiles/config/configstore/update-notifier-npm.json
/dotfiles/config/configstore/nodemon.json
/dotfiles/config/wireshark
/dotfiles/config/gatsby
