"*":
  "atom-beautify":
    general:
      _analyticsUserId: "39bb271b-7c95-4a1f-b9c8-6c70523246f8"
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "language-python"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "*.pyc"
      "Thumbs.db"
      "desktop.ini"
      ".venv/"
    ]
    projectHome: "/Users/ekampf/workspace"
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "199f5aad-4a7e-02b3-5130-101402f1235d"
  "linter-ui-default":
    panelHeight: 36
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
