"*":
  "atom-beautify":
    general:
      _analyticsUserId: "1fcd6e62-265a-40e5-ab12-b9a32af7f11a"
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 11
  "exception-reporting":
    userId: "d0652209-2c5f-4ea4-b4e2-914a992bfbbb"
  "linter-ui-default": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
