packages: [
  "atom-beautify"
  "autoclose-html"
  "autocomplete-python"
  "busy-signal"
  "editorconfig"
  "es6-javascript"
  "highlight-selected"
  "intentions"
  "language-gradle"
  "linter"
  "linter-htmlhint"
  "linter-stylelint"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "react"
  "react-snippets"
  "seti-ui"
  "tabs-to-spaces"
  "todo-show"
]
